{% extends "layout.njk" %}
{% block content %}

<nav class="tabs">
  <ul>
    <li class="tab-lesson">
      <a href="#">{{ lesson.title }} Lesson</a>
    </li>
    <li class="tab-flashcard">
      <a class="active" href="#">{{ lesson.title }} Flashcards</a>
    </li>
  </ul>
</nav>

<div class="flashcards">
{{ flashcardPage.body }}
</div>

{% endblock %}
