{% extends "layout.njk" %}

{% block content %}
    <h2>{{ tag }}</h2>
    {% if posts.length %}
        <ul class="tags">
        {% for post in posts %}
          <li><a href="{{ post.link }}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="post-item">
            Nothing there...
        </div>
    {% endif %}
{% endblock %}
