# Embed-game files are copyright-sensitive: DEFAULT-DENY, then explicitly
# whitelist verified 🟢 Green-bucket games (docs/arcade-content.md). Only add a
# folder after its license clears that bar — code AND assets — never
# blanket-unignore. Mirrors public/roms/.gitignore.
/*
!/.gitignore
!/README.md
# Green-bucket, bundle-safe:
# 2048 — MIT (Gabriele Cirulli)
!/2048/
# Hextris — GPL-3.0 (Hextris contributors); bundled ads/trackers stripped
!/hextris/
# HexGL — MIT (Thibaut Despoulain) + PD/CC-BY audio; GA stripped
!/hexgl/
# Underrun — MIT (Dominic Szablewski); no trackers, drop-in
!/underrun/
# Astray — Unlicense/PD (wwwtyro); absolute texture paths made relative
!/astray/
# Hauberk — MIT (Bob Nystrom); prebuilt gh-pages app, Google Fonts link stripped
!/hauberk/
# Chess — MIT (chessboard.js) + BSD-2 (chess.js) + MIT (jQuery) + BSD-3 (Cburnett pieces)
!/chess/
