<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title lang="en">{{siteConfig.sitename}}</title>
    <meta name="description" content="{{post.metaDescription | default(siteConfig.description)}}">
    <link href="/style.min.css" rel="stylesheet">
</head>

<body class="{{ slug | lower }}{% if pageType == 'Page' %} page{% endif %}">

  <!--   Mobile nav from https://codepen.io/erikterwan/pen/EVzeRP -->
  <nav class="mobile-nav" role="navigation">
    <div id="menuToggle">
      <!-- hidden checkbox, is used as click reciever for :checked -->
      <input type="checkbox" />
      <!-- spans for hamburger icon-->
      <span></span><span></span><span></span>
      <ul id="menu">
        {% for page in siteConfig.siteNav %}
          <li {% if page.name == 'Home' or page.name == 'About' %} class="hidable"{% endif %}>
          <a {% if title == page.name %} class="active"{% endif %} href="{{ page.link }}">{{ page.name }}</a>
        </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </nav>

  <header>
      <div class="container">

          <div class="site-title-wrapper">
            {% if title == 'Home' %}
              <h1 class="site-title"><a href="/">{{ siteConfig.sitename }}</a></h1>
              <h2 class="tagline">{{ siteConfig.tagline }}</h2>
            {% else %}
              <p class="site-title"><a href="/">{{ siteConfig.sitename }}</a></p>
              <p class="tagline">{{ siteConfig.tagline }}</p>
            {% endif %}
          </div>

          <nav class="site-nav" role="region" tabindex="-1">
              <ul>
                {% for page in siteConfig.siteNav %}
                  <li {% if page.name == 'Home' or page.name == 'About' %} class="hidable"{% endif %}>
                  <a {% if title == page.name %} class="active"{% endif %} href="{{ page.link }}">{{ page.name }}</a>
                </li>
                {% endfor %}
              </ul>
          </nav>
      </div>
  </header>


  <main>

      <div class="container">

        <nav class="left-nav">
          <p class="left-nav-header">
            {% if pageType == 'Flashcards' or page.title == 'Flashcards' %}
            <a href="/flashcards.html">Flashcards</a>
            {% elif pageType == 'Home' or pageType == 'Lesson' or page.title == 'Lessons' %}
            <a href="/lessons.html">Lessons</a>
            {% endif %}
          </p>
            <ul>
            {% for navPage in leftNav.leftNav %}
              <li>
                {% if pageType == 'Flashcards' or page.title == 'Flashcards' %}
                <a href="/flashcards/{{ navPage.link }}">{{ navPage.name }}</a>
                {% elif pageType == 'Home' or pageType == 'Lesson' or page.title == 'Lessons' %}
                <a href="/lessons/{{ navPage.link }}">{{ navPage.name }}</a>
                {% endif %}
              </li>
            {% endfor %}
            </ul>

        </nav>

        <div class="content">
          {% block content %}{% endblock %}
        </div>

      </div>

    </main>

  <footer>
    <div class="container">
      <p>&copy;{{siteConfig.currentYear}} <a href="http://markmcdermott.io">Mark McDermott</a>{% if title == 'Home' %}
        <br /><a href="https://github.com/mark-mcdermott/fullstackwolfpack">Built with Node</a> in < {{ filesizeKb }} kB{% endif %}</p>
    </div>
  </footer>

  {% if pageType == 'Flashcards' %}
  <script src="/flashcards.js"></script>
  {% endif %}

</body>
</html>
