<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title lang="en">{{config.sitename}}</title>
    <meta name="description" content="{{post.metaDescription | default(config.description)}}">
    <link href="/style.min.css" rel="stylesheet">
</head>
<body {% if pageType == 'home' %}id="blog-index"{% endif %}>

  <!--   Mobile nav from https://codepen.io/erikterwan/pen/EVzeRP -->
  <nav class="mobile-nav" role="navigation">
    <div id="menuToggle">
      <!-- hidden checkbox, is used as click reciever for :checked -->
      <input type="checkbox" />
      <!-- spans for hamburger icon-->
      <span></span><span></span><span></span>
      <ul id="menu">
        {% for page in config.siteNav %}
          <li{% if pageType == page.name %} class="active"{% endif %}><a href="{{ page.link }}">{{ page.name }}</a></li>
        {% endfor %}
        <li class="mobile-nav-heading">Lessons
          <ul>
          {% for lesson in config.lessonsNav %}
            <li><a href="{{ lesson.link }}">{{ lesson.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
      </ul>
    </div>
  </nav>

  <header>
      <div class="container">
          <h1>
              <a href="/">{{ config.sitename }}</a>
          </h1>
          <p class="tagline">{{ config.tagline }}</p>
          <nav class="site-nav" role="region" tabindex="-1">
              <ul>
                {% for page in config.siteNav %}
                  <li{% if pageType == page.name %} class="active"{% endif %}><a href="{{ page.link }}">{{ page.name }}</a></li>
                {% endfor %}
              </ul>
          </nav>
      </div>
  </header>

  <div class="container">

    <h3 class="lessons-nav-header">Lessons</h3>
    <nav class="lessons-nav">
        <ul>
        {% for lesson in config.lessonsNav %}
          <li><a href="{{ lesson.link }}">{{ lesson.name }}</a></li>
        {% endfor %}
        </ul>
    </nav>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

  </div>

    <footer>
      <div class="container">
        <p>&copy;{{config.currentYear}} <a href="http://markmcdermott.io">Mark McDermott</a>{% if pageType == 'Home' %}
          <br /><a href="https://github.com/mark-mcdermott/fullstackwolfpack">Built with Node</a> in < {{ filesizeKb }} kB{% endif %}</p>
      </div>
    </footer>

</body>
</html>
