<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title lang="en">{{config.sitename}}</title>
    <meta name="description" content="{{post.metaDescription | default(config.description)}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/style.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <header>
        <a href="/">{{config.name}}</a>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>

    <nav class="lessonsNav">
      <ul>
      {% for lesson in config.lessonsNav %}
        <li><a href="/lessons/{{ lesson.slug }}.html">{{ lesson.name }}</a></li>
      {% endfor %}
      </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
      <p>&copy;{{config.currentYear}} {{config.name}}</p>
    </footer>
</div>
</body>
</html>
