<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title lang="en">{{config.sitename}}</title>
    <meta name="description" content="{{post.metaDescription | default(config.description)}}">
    <link href="/style.min.css" rel="stylesheet">
</head>
<body {% if pageType == 'home' %}id="blog-index"{% endif %}>


  <header>
      <div class="container">
          <a id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
              <span class="icon-menu" aria-hidden="true"></span>
              <span class="sr-only">Toggle Menu</span>
          </a>
          <h1>
              <a href="/">{{ config.sitename }}</a>
          </h1>
          <p class="tagline">{{ config.tagline }}</p>
          <nav class="site-nav" role="region" tabindex="-1">
              <ul>
                <li{% if pageType == 'home' %} class="active"{% endif %}>
                  <a href="/">Home</a>
                </li>
                <li{% if pageType == 'about' %} class="active"{% endif %}>
                  <a href="/about.html">About</a>
                </li>
              </ul>
          </nav>
      </div>
  </header>

  <div class="container">

    <nav class="lessons-nav">
        <ul>
        {% for lesson in config.lessonsNav %}
          <li><a href="/lessons/{{ lesson.slug }}.html">{{ lesson.name }}</a></li>
        {% endfor %}
        </ul>
    </nav>

    <div class="content">
      {% block content %}{% endblock %}  
    </div>

  </div>

    <footer>
      <div class="container">
        <p>&copy;{{config.currentYear}} <a href="http://markmcdermott.io">Mark McDermott</a>{% if pageType == 'home' %}
          <br /><a href="https://github.com/mark-mcdermott/fullstackwolfpack">Built with Node</a> in < {{ filesizeKb }} kB{% endif %}</p>
      </div>
    </footer>

</body>
</html>
